/* * {
    margin: 0px;
    padding: 0px;
}

#bulb {
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 217, 0);
    margin: 150px 300px;
} */

/* button {
    padding: 35px;
    border-radius: 100%;
    border: none;
    color: rgb(0, 0, 0);
    background-color: white;
} */