body {
    background: #ffffff95;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-variant: small-caps;
    gap: 1px;
}

#stopBtn {
    color: black;
    background-color: #fff;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 37%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-variant: small-caps;
    gap: 1px;
    font-weight: 500;
}