#showData {
    width: 100%;
    height: 350px;
    background-color: rgba(255, 216, 198, 0.685);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    border-radius: 11px;
    font-variant: small-caps;
    color: #fff;
}

#submit {
    margin-top: 50px;
    margin-right: 536px;
    background-color: burlywood;
    border: 1px solid rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-variant: small-caps;
    color: black;
    font-size: 20px;
    width: 100px;
    font-weight: 400;
}

#deleteBtn {
    margin-top: 50px;
    margin-left: 369px;
    border: 1px solid rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-variant: small-caps;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100px;
    font-weight: 400;
}

.container {
    margin-top: 80px;
}

#TaskAdd {
    text-align: center;
    margin-bottom: 40px;
    font-variant: small-caps;
    font-family: "Poppins", sans-serif;
    font-weight: 600;


}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}